name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.19.0' # Specify a recent compatible version, or leave it to grab stable
      
      - name: Install dependencies
        working-directory: ./client
        run: flutter pub get

      - name: Build Web
        working-directory: ./client
        # The base-href must match the repository name for Project Pages
        run: flutter build web --release --base-href "/portfolio/"

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./client/build/web
